.conditionalMsg{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 60%;
    background-color: rgba(0, 0, 0, 0.801);
    margin-top: 10%;
    border-radius: 25px;
    padding: 20px;
}