.progress {
  display: flex; /* Add display flex */
  align-items: center; /* Align items center */
  width: 100%;
  height: 5px; /* Thinner bar */
  margin-top: 8px; /* Match margin-top */
  border-radius: 5px;
  overflow: hidden;
  background-color: #e0e0e0;
}

.progress::-webkit-progress-bar {
  background-color: transparent; /* Match the first set */
}

.progress::-webkit-progress-value {
  background-color: transparent; /* Match the first set */
}

.progress.password-strength-0::-webkit-progress-value,
.progress.password-strength-1::-webkit-progress-value {
  background-color: #e74c3c; /* Red for strength 0 and 1 */
}

.progress.password-strength-2::-webkit-progress-value {
  background-color: #e67e22; /* Orange for strength 2 */
}

.progress.password-strength-3::-webkit-progress-value,
.progress.password-strength-4::-webkit-progress-value {
  background-color: #2ecc71; /* Green for strength 3 and 4 */
}


.password-feedback {
  margin-left: 10px;
  color: #6c757d;
  font-size: 14px; /* Match font size */
}
