

.professional-view-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    width: 100%; /* El contenedor ocupa el ancho completo de la página */
}

.professional-view-container.show-full-info {
    height: auto;
    padding-bottom: 16px; /* Ajusta según sea necesario */
}

.professional-view-title {
    text-align: center;
}

.professional-view-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    margin: 16px;
    max-width: 1000px; /* Ajusta el ancho máximo según sea necesario */
    width: 100%; /* El card ocupa el ancho completo del contenedor */
    display: flex; /* Para que los elementos dentro del card se distribuyan horizontalmente */
}

.professional-view-info {
    padding: 16px;
    flex-grow: 1; /* Para que ocupe todo el espacio disponible */
}

.profile-section {
    display: flex;
    align-items: center;
}

.profile-image {
    width: 100px; /* Ajusta el tamaño de la imagen según sea necesario */
    height: 100px; /* Ajusta el tamaño de la imagen según sea necesario */
    border-radius: 8px 0 0 8px; /* Bordes redondeados en la esquina superior izquierda */
    margin-right: 16px;
}

.name-section {
    flex-grow: 1;
}

.cert-image {
    max-width: 100%;
    height: auto;
    margin-top: 16px;
}

.specialist-info p {
    margin: 8px 0;
}
.no-link {
    text-decoration: none; /* Elimina la subrayado del enlace */
    color: inherit; /* Utiliza el color del texto normal */
    cursor: auto; /* Cambia el cursor de enlace a un cursor predeterminado */
  }